.chat{
    padding: $spacing;
    color: white;
    background-color: darken($color1, 5%);
    border-radius: $radius;
}

.chat__messages{
    border-radius: $radius;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: darken($color1, 7.5%);
    padding: $spacing;
    display: flex;
    flex-direction: column-reverse;
}